<h3>Search for a flight</h3>
<%= form_with(url: '/flights', method: :get, local: true) do |f| %>
  <div>
    <%=f.label :from_airport%><br>
    <%=f.select(:from_airport_id, options_for_select(@airports)) %><br>
    <%=f.label :to_airport_id%>
    <%=f.select(:to_airport_id, options_for_select(@airports)) %><br>
    <%= f.label 'number_of_passengers'%>
    <%= f.select(:num_passengers, options_for_select([1,2,3,4,5,6]))%><br>
    <%= f.label :month%>
    <%= f.select(:month,options_for_select(@months))%> <br>
    <%= f.label :day%>
    <%= f.select(:day,options_for_select(@days))%> <br>
  </div>
  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<%end%>
