<p id="notice"><%= notice %></p>
<h1>Flights</h1>
<table>
  <thead>
    <tr>
      <th>Departure</th>
      <th>destination</th>
      <th>Departure time</th>
    </tr>
  </thead>
  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.from_airport.aptcode %>
          <td><%= flight.to_airport.aptcode %>
            <td><%= flight.departure_time%>
            </tr>
            <tr>
              <td><%= link_to 'Show', flight %></td>
              <td><%= link_to 'Edit', edit_flight_path(flight) %></td>
              <td><%= link_to 'Destroy', flight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to 'New Flight', new_flight_path %>
