<p id="notice"><%= notice %></p>
<h1>Flights</h1>
<%= render 'form'%>
<% if params[:flight]%>
  <table>
    <thead>
      <tr>
        <th>Departure</th>
        <th>destination</th>
        <th>Departure time</th>
      </tr>
    </thead>
    <tbody>
      <% @flights.each do |flight| %>
        <tr>
          <td><%= flight.from_airport.aptcode %>
            <td><%= flight.to_airport.aptcode %>
              <td><%= flight.flight_date_formatted%>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
      <% else %>
        <h3>No Results</h3>
      <% end %>
